:root {
    --main-bg-color: #C9A1F4;
    --white-txt-color: #FFFF;
    --cian-color: #38FED0;
    --coral-color:#F25670;
    --purple-color:#9B46C6;
    --green-color:#14AF8B;
    --wine-color:#7E1B2B;
}

body {
    font-family: 'Comfortaa', cursive;
}

input {
    border-radius: 40px !important;
}

input:focus {
    border: 0px !important;
    outline: 0 none !important;
    background: rgba(255, 255, 255, 0.4) !important;

} 

.logo {
    margin: 10%;
}

.body {
    border-radius: 40px;
    padding: 30px;
}


.full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
}

.purple {
    color:var(--purple-color);
}

.green {
    color: var(--green-color);
}

.wine {
    color:var(--wine-color);
}

.background-purple {
    background: var(--main-bg-color);
}

.background-purple:focus{
    background: var(--main-bg-color);
}

.background-cian {
    background-color: var(--cian-color);
}

.background-cian:focus{
    background: var(--cian-color);
}

.background-coral {
 background: var(--coral-color);
}

.background-coral:focus {
    background: var(--coral-color);
    box-shadow: none !important;
   }

.background-wine {
    background: var(--wine-color);
}

.text-white {
    color: var(--white-txt-color) !important;
  }

.title {
 font-size: 25px;
}

.button {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 12px;
    padding-bottom: 10px;
}

.button:hover {
    background: var(--main-bg-color);
    border: none;
}
/*Figures*/
.square:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.triangle:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);

}

.circle:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);

}


.center {
    text-align: center;
}

.padding-around {
    padding: 30px;
    padding-top: 60px;
}

/*Buttons*/
.button-purple {
    background-color: #9B46C6;
    border: 0;
    border-radius: 40px;
    margin-right: 10px;
    
}

.button-purple:hover {
    color:black !important;
}

.button-green {
    background-color: #14AF8B;
    border: 0;
    border-radius: 40px;
    margin-right: 10px;
}

.button-green:hover {
    color:black !important;
}

.button-wine {
    background-color: var(--wine-color);
    border: 0;
    border-radius: 40px;
    margin-right: 10px;
}

.button-wine:hover {
    color:black !important;
}

#InputSidesSquare:focus {
    box-shadow: 5px 1px 5px var(--main-bg-color) !important;
}

#InputCircleRadius:focus {
    box-shadow: 5px 1px 5px var(--cian-color) !important;
}


.input-result {
    border-top: 0px;
    border-left:0px;
    border-right: 0px;
    border-bottom: 2px solid grey;
    border-radius: 40px;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.input-result-below {
    border-top: 0px;
    border-left:0px;
    border-right: 0px;
    border-bottom: 2px solid grey;
    border-radius: 40px;
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
}

.input-result-below-2 {
    border-top: 0px;
    border-left:0px;
    border-right: 0px;
    border-bottom: 2px solid grey;
    border-radius: 40px;
    text-align: center;
    margin-left: 15px;
    margin-top: 15px;
}

.border-purple {
    border-color: var(--purple-color);
}

.border-green {
    border-color: var(--green-color);
}

.border-wine {
    border-color: var(--wine-color);
}

.display {
    display: block;
}


.fa {
    font-size: 30px !important;
    padding-right: 15px;
} 


.form-label {
    padding-left: 65px !important;
}

.font-14 {
    font-size: 14px;
}

.rounded-3 {
    border-radius: 30px !important;
    padding: 5px !important;
    height: 60px !important;
    background: rgba(255, 255, 255, 0.4);
    margin-bottom: 10px;
}

.rounded-3 input {
    height: 30px !important;
    border-radius: 10px !important;
    background: rgba(255, 255, 255, 0);
    margin-top: -12px;
}

.rounded-3 input:focus {
    background: rgba(255, 255, 255, 0) !important;
}

#SelectMeasuresTriangle {
    border-radius: 40px;
    margin-left: 20px;
    box-shadow: none;
}

#SelectMeasuresSquare {
    border-radius: 40px; 
    box-shadow: none;
}

#SelectMeasuresCircle {
    border-radius: 40px;
    box-shadow: none;
}

#SectionSquare {
    width: 50%;
    margin-left: 30%;
}

#SectionCircle {
    width: 50%;
    margin-left: 30%;
}

#SectionTriangle {
    width: 50%;
    margin-left: 30%;
}

.error {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    margin-top: 10px;
    align-content: initial;
}


/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1067px) {

    #SectionSquare {
        width: 100%;
        margin-left: 0%;
    }

    #SectionCircle {
        width: 100%;
        margin-left: 0%;
    }

    #SectionTriangle {
        width: 100%;
        margin-left: 0%;
    }

    .padding-around {
        padding: 0px;
        padding-top: 0px;
    }
}

/*MOBILE*/
@media only screen and (max-width: 767px) {

    #SectionSquare {
        width: 100%;
        margin-left: 0%;
    }

    #SectionCircle {
        width: 100%;
        margin-left: 0%;
    }

    #SectionTriangle {
        width: 100%;
        margin-left: 0%;
    }

    .padding-around {
        padding: 0px !important;
        padding-top: 0px !important;
    }

    .center {
        margin: 0px !important;
    }

    .body {
        border-radius: 0px !important;
        padding: 0px !important;
    }

    .card-body {
        width: 100% !important;
    }

    .fa {
        font-size: 20px !important;
        padding-right: 15px;
        padding-top: 5px;
    } 

    .input-result {
        border-top: 0px;
        border-left:0px;
        border-right: 0px;
        border-bottom: 2px solid grey;
        border-radius: 40px;
        text-align: center;
        margin: 0px;
        margin-top: 10px;
    }
    
    .input-result-below {
        border-top: 0px;
        border-left:0px;
        border-right: 0px;
        border-bottom: 2px solid grey;
        border-radius: 40px;
        text-align: center;
        margin-left: 0px;
    }
    
    .input-result-below-2 {
        border-top: 0px;
        border-left:0px;
        border-right: 0px;
        border-bottom: 2px solid grey;
        border-radius: 40px;
        text-align: center;
        margin-left: 0px;
        margin-top: 5px;
    }
    
    .button-green {
        background-color: #14AF8B;
        border: 0;
        border-radius: 40px;
        margin: 10px;

    }



}



